@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
    min-width: 440px;
	padding: 0;
	margin: 0;
	top: 0;
	bottom: 0;
	font-family: 'Lato', sans-serif !important;
	background-color: #fff !important;
    color: #3A3A3A !important;
    font-size: 18px !important;
}

/* main{

<<<<<<< HEAD
} */

=======
>>>>>>> test_nav
h1, h2, h3, h4, h5, h6, a{
    font-family: 'Roboto', sans-serif !important;
    color: #3A3A3A !important;
    text-decoration: none;
    margin: 0 !important;
    font-size: 1rem !important;
}
h1{
    font-size: 3rem !important;
}
h2{
    font-size: 2.5rem !important;
}
h3{
    font-size: 2rem !important;
}
h4{
    font-size: 1.5rem !important;
}
h5{
    font-size: 1.1rem !important;
}

a:hover{
    text-decoration: underline !important;
}


p, select, h6 {
    font-family: 'Alegreya Sans', sans-serif;
	font-size: 1rem !important;
	color: #A5A5A5 !important;
}





/* HEADER / NAV */

header {
    width:100%;
    padding-top: 10px;
    padding-bottom: 20px;
}

header > div {
    margin: 20px 0;
}

header > div > div > div{
    width: 29.5vw;
    max-height: 200px;

    /* border: 1px solid green; */
}

ul, ol{
    padding: 5px 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

/* BLOCK DE GAUCHE */
.date-container{
    width: 60%;
    min-width: 240px;
}

/* BLOCK DU MILLIEU */
/* horizontale and vertical align */
.nav-image-center{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 40px 0;
}
.nav-image-center img{
    width: 100%;
    max-width: 200px;
}


/*  BLOCK DE DROITE */
.login-container{
    width: 60%;
    min-width: 230px;
}
.search input{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid transparent;
    border-radius: unset;
    height: 2.6rem;
    transition: border-bottom-color 0.5s ease;
}
.search input:hover, .search input:focus {
    border-bottom-color:#A5A5A5;
}
.search i {
    line-height: 2.5rem;
    border-bottom: 2px solid #A5A5A5;
}

.login{
    padding: 5px;
}
.login a {
    display: inline;
}
.login > a:last-of-type{
    margin-right: 20px;
}
.login select{
    background-color: transparent;
    border: none;
    outline: none;
}


.top-nav {
	display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 60px;
    border-top: 2px solid black;
    border-bottom: 4px solid black;
    margin-top: 20px;
    /* margin: 0 15px; */
}
.top-nav > ul {
	margin: 0;
	padding: 0;
    width: auto;
    list-style: none;
}

.top-nav > ul > li {
    width: auto;
    min-width: 60px;
    
}

.top-nav > ul > li a {
	text-decoration: none;
	font-size: 1rem;
    font-weight: bold;
    width: auto;
}
.top-nav > ul > li a:hover {
	transition: 0.15s ease-in;
}

.top-nav a[gray = true]{
    color: #A5A5A5 !important;
}


.top-nav > ul{
    position: relative;
    width: 100%;
    padding: 0 25%;
}

.more{
    position: relative;
    /* min-width: 5.5rem; */
    cursor: pointer;
    user-select: none;
}
.more-link{
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 15;

    /* display: none; */
    /* opacity: 0; */
    /* opacity: 0; */
    transition: opacity 1s ease;
}
<<<<<<< HEAD

=======
>>>>>>> test_nav
.more-link{
    background-color: #fff;
    border: 1px solid #cccccc;
    box-shadow: 6px 6px 15px 0px #A5A5A5;
}
.more-link > .row{
    margin: 0 !important;
}
.more-link > .row > div{
    padding: 0 !important;
}
.more-link ul{
    flex-direction: column;
    align-items: flex-start;

    padding: 10px 20px;

    border: 0.5px solid #cccccc;
}
.more-link h5{
    font-size: 1rem;
    font-weight: 900;
}
.more-link h5, .more-link h6{
    margin: 15px !important;
}


/* CLASS */

.margin-center {
    margin: 0 auto;
}

.bordure{
    width: 100%;
    height: 2px;
    background-color: #A5A5A5;
    border-left: #3A3A3A 60px solid;
}
.bordure-droite{
    transform: rotateY(180deg);
}


/* END HEADER / NAV*/


/* FEATURE TOP */
/* .top-feature-container{
    height: 75vh;
} */
.top-feature{
    height: 100%;
}
.top-feature > div{
    height: 100%;
    margin-bottom: 20px;
}
.top-feature .container-fluid{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top-feature .container-fluid .row{
    height: 50%;
}
.top-feature .container-fluid .row > div{
    height: 100%;
    padding: 0 !important;
}
.top-feature .container-fluid .row:first-of-type{
    padding-bottom: 11px;
}
.top-feature .container-fluid .row:last-of-type{
    padding-top: 11px;
}
.top-feature img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: unset;
}

.image-legend{
    position: relative;
}
.legend-container{
    position: absolute;
    bottom: 0;
    left: 10%;

    width: 80%;
    padding: 10px 20px;
    background-color: white;
}
.legend-cat{
    display: inline-block;
    width: auto;
    height: 40px;
    padding: 14px 10px;
    background-color: orangered;

    position: absolute;
    top: -40px;
    left: 40px;
}
.legend-cat > h6{
    color: white !important;
}
.legend-title{
    font-size: 1.3rem !important;
}
.legend-title, .legend-info{
    margin: 1rem 0 !important;
    color: black !important;
}
.btn-share{
    width: 25px;
    height: 25px;
    background-color: gray;

    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-share > i{
    color: white !important;
    width: inherit;
    height: inherit;
    font-size: 0.6em;

    display: flex;
    justify-content: center;
    align-items: center;
}
.share-comment{
    margin-top: 15px;
    margin-bottom: 15px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.share-comment b{
    color: black !important;
}
.share-comment p{
    margin: 0 10px 0 5px;
    height: 100%;
}

/* END FEATURE TOP */

/* DATA-TYPE */

[cat-color=orange]{
    background-color: orange !important;
}
[cat-color=violet]{
    background-color: darkorchid !important;
}
[cat-color=blue]{
    background-color: cornflowerblue !important;
}

/* END DATA-TYPE */



/* SECONDARY CLASS*/
.container{
    width: 80% !important;
}
.clear{
    clear: both;
}

.flex{
    display: flex;
}
.flex-right{
    justify-content: flex-end;
}
.flex-left{
    justify-content: flex-end;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-center{
    justify-content: center;
}

.show{
    display: block;
}
.hide{
    display: none;
}
.media-display{
    display: block;
}



/* CONTAINER SPECIFICATION */
.container{
    padding: 0 !important;
}
.container:first-of-type{
    padding-top: 20px !important;
}




/* MEDIA QUERIES */

@media(max-width: 1000px){
    body, html{
        font-size: 16px !important;
    }
    .date-container, .login-container{
        width: 100%;
    }

    .top-nav > ul{
        padding: 0 10%;
    }
}


@media(max-width: 770px){
    body, html{
        font-size: 14px !important;
    }
    .login > a:last-of-type{
        margin-right: 0;
    }
    .nav-justified>li {
        display: table-cell;
        width: unset !important;
    }
}
@media(max-width: 1630px){
    .media-display{
        display: none;
    }
}















/* ANIMATION KEYS */

@keyframes easePop {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}